<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="en">
  <head>
    <title th:text="#{email.reset.title}">Medihelp Presupuesto. reinicio de contraseña</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="icon" th:href="@{|${baseUrl}/favicon.ico|}" />
  </head>
  <body>
    <p th:text="#{email.reset.greeting(${user.login})}">Dear</p>
    <p th:text="#{email.reset.text1}">
      Para tu cuenta en Medihelp Presupuesto el reinicio de la contraseña fue solicitado, por favor haga click en la siguiente url para
      acceder:
    </p>
    <p>
      <a th:with="url=(@{|${baseUrl}/account/reset/finish?key=${user.resetKey}|})" th:href="${url}" th:text="${url}">Link de activación</a>
    </p>
    <p>
      <span th:text="#{email.reset.text2}">Saludos, </span>
      <br />
      <em th:text="#{email.signature}">Medihelp Presupuesto.</em>
    </p>
  </body>
</html>
